body{
    font-family: 'Open sans', sans-serif;
    background-color: black;
}
#container{
    width: 1000px;
    height: 550px;
    background-image: url(image/gear.jpg);
    margin: 20px auto;
    background-size: cover;
}
#calculator{
    width: 320px;
    height: 520px;
    background-color: rgb(248, 242, 220);
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 15px;
}
#result {
    height: 120px;
}
#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}
#keyboard {
    height: 400px;
}
.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    outline: none;
}
.button:active {
    bottom: 0;
}
.empty {
    background-color: rgb(248, 242, 220);
}
.number, .operator {
    cursor: pointer;
}
.number {
    background-color: rgba(85, 83, 83, 0.671);
}
.operator:active, .number:active {
    font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}
button:nth-child(4) {
    font-size: 20px;
    background-color: rgb(250, 183, 40);
}
button:nth-child(8) {
    font-size: 20px;
    background-color: rgb(250, 183, 40);
}
button:nth-child(12) {
    font-size: 20px;
    background-color: rgb(250, 183, 40);
}
button:nth-child(16) {
    font-size: 20px;
    background-color: rgb(250, 183, 40);
}
button:nth-child(20) {
    font-size: 20px;
    background-color: rgb(250, 183, 40);
}
button:nth-child(1) {
    background-color: rgba(255, 0, 0);
}
